<!DOCTYPE html>
<html>
  <head>
    <title>RailsWikinimous</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="nav">
      <div class="container">
        <div class="row justify-content-between">
          <h3><%= link_to "Wiki",posts_path%></h3>
          <%= link_to "New article", new_post_path %>
        </div>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
